<div id="clearance" class="sign-in">
  <%= render partial: '/sessions/form' %>
  <h1 class = "text"> SEARCH . BOOK . HOST .</h1>
  <p class = "text">By signing in you agree with our Terms of Service ,Privacy Policy and Cookie Policy </p>
</div>
<button type="button" class="btn btn-light btn-block text-uppercase col-3 center" data-toggle="modal" data-target="#exampleModal">
  Login
</button>