<div class="jumbotron">
  <h1 class="display-4">Hello <%= current_user.first_name %></h1>
  <p class="lead">This is SudanBnb, Sudans fully web developed web app Check out our homes and cheap prices </p>
  <p class="lead">
    <%= link_to 'Go to Listings' , listings_path , class: "btn btn-primary btn-lg"%>
  </p>
</div>