<%=bootstrap_form_with(model: @reservation, url: listing_reservations_path, local:true) do |f| %>
  <div class = "col-6">
    <%= f.date_field :start_date %></div>
  <br/>
  <div class = "col-6">
    <%= f.date_field :end_date %></div>
  <br/>
  <%= f.submit %>
<% end %>